*
    {
    	margin:0px;
    	padding:0px;
    }
    nav
    {
        width:200px;
        font-family:arial,georgia,helvetica;
        line-height:1.5;
        
  
    }
    .vmenu h4
    {
        background:#fff;
        width:200px;
        color:#fff;
        font-size:large;
        font-weight:500;
        padding:7px 15px; 
        background:#a90329;
        
       	
    }
    .vmenu h4 a
    {
        text-decoration:none;
        color:White;
        width:200px;
        display:block;
        

    }
    .vmenu h4:hover
    {
       background:#cc002c; 	
    	
    }
    .vmenu ol
    {
        background:purple;	
        font-size:13px;
        font-height:30px;
        list-style-type:none;
        padding:0px;
        overflow:hidden;
        height:0px;
        transition:height 1s ease;
        
        	
    }
    .vmenu ol a
    {
    	color:white;
    	text-decoration:none;
    	width:200px;
    	margin-left:50px;
    	font-size:large;
    	height:30px;
     		
    }
    .vmenu li
    {
        border-bottom:solid 2px #eee;
        	
    }
    .vmenu li:hover
    {
        background:orange;	
    }
    .vmenu:hover #s3
    {
        height:93px;
           	
    }
     .vmenu:hover #s4
    {
        height:124px;
           	
    }
